aiofiles
aiohttp==3.9.3
asyncio==3.4.3
apscheduler
bard
beautifulsoup4
bs4
blackpink
bing_image_downloader
cloudscraper
deepai
daxxhub
dnspython==2.3.0
emojis
ffmpeg-python
Faker
future==0.18.3
git+https://github.com/AsmSafone/SafoneAPI
gitpython
gpytranslate
gtts
hachoir
heroku3
httpx>=0.28.1
img2pdf
instaloader
lexica-api==1.4.7
mpv
moviepy
motor
MukeshAPI
numpy
opencv-python
opencv-python-headless==4.9.0.80
pillow==9.5.0
pickledb
psutil
pornhub-api==0.3.0
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
pyrogram==2.0.106
python-dotenv==1.0.1
pyshorteners
python-telegram-bot==21.1.1
python-whois
pytz
pytube
py-tgcalls==0.9.7
pyyaml==6.0.1
qrcode
requests
SafoneAPI
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
stripe==10.7.0
telebot==0.0.5
telegraph==2.2.0
telethon==1.33.1
tgcrypto==1.2.5
unidecode
wget
yt-dlp
youtube_search
youtube-search-python
youtube_dl==2021.12.17
kurigram
flask==2.2.2
pymongo[srv]==3.12.3
